<app-search></app-search>
<div class="container-fluid">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Place </th>
        <th>Journey Type </th>
        <th>State</th>
        <th>District</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bhangarth Fort</td>
        <td>Haunted</td>
        <td>Rajasthan</td>
        <td>Alwar</td>
        <td><button class="btn btn-success">Click Here</button></td>
    </tbody>
  </table>
</div>



