<div class="container-fluid">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <select class="form-control">
            <option *ngFor = 'let st of state'>{{st.s_name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select class="form-control">
            <option *ngFor = 'let st of state'>Select District</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control">
            <option *ngFor = 'let jn_type of journeyType'>{{jn_type.j_name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <button class="btn btn-primary" (click)="searchData()">Seacrh</button>
        </div>
      </div>
    </div>
  </form>
</div>

