<div class="container-fluid">
  <h2>Devotional Journey</h2>        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Description</th>
        <th>Village</th>
        <th>District</th>
        <th>State</th>
        <th>Visit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let dj of devotionalJourney">
        <td>{{dj.s_id}}</td>
        <td>{{dj.description}}</td>
        <td>{{dj.village}}</td>
        <td>{{dj.district}}</td>
        <td>{{dj.state}}</td>
        <td>
          <button class="btn btn-success">Click Here</button>  
        </td>
      </tr>
    </tbody>
  </table>
</div>

